{% extends "sourcenet_analysis/base.html" %}

{% block title %}View reliability name information{% endblock %}

{% block content %}

    <h1>View reliability name information</h1>
    
    {# got an output_string? #}
    {% if output_string %}
    
        <div id="article_message" name="article_message" style="background-color: yellow; border: 1px solid black;">
            <p>{{ output_string }}</p>
        </div>
    
    {% endif %}
    
    <div id="reliability_names_filter_form" name="reliability_names_filter_form">
        
        <form action="" method="post">
    
            {# always include CSRF token #}
            {% csrf_token %}
                            
            {# output reliability names filter form #}
            {{ reliability_names_filter_form.as_p }}

            <p>
                <input type="submit" />
            </p>
            
        </form>
        
    </div>
    
    {% if reliability_names_output_list %}
    
        <hr />
        
        <div id="reliability_names_instance_view" name="reliability_names_instance_view">

            <table class="gridtable">
                
                <tr>
                    <th>index</th>
                    <th>ID</th>
                    <th>label</th>
                    <th>article ID</th>
                    <th>name</th>
                    <th>person type</th>
                    <th>details</th>
                </tr>

                {% for names_instance in reliability_names_output_list %}

                    <tr>
                        <td>{{ names_instance.index }}</td>
                        <td>{{ names_instance.id }}</td>
                        <td>{{ names_instance.label }}</td>
                        <td><a href="{% url 'sourcenet-article_view_article_data_with_text' %}?article_id={{ names_instance.article_id }}">{{ names_instance.article_id }}</a></td>
                        <td>{{ names_instance.person_name }}</td>
                        <td>{{ names_instance.person_type }}</td>
                        <td>

                            {% if names_instance.coder_details_list %}

                                <table class="gridtable">
                                    <tr>
                                        <th>Coder ID</th>
                                        <th>Detected</th>
                                        <th>Person ID</th>
                                        <th>Person Type</th>
                                        <th>Quote Graf</th>
                                        <th>Quote Index</th>
                                    </tr>
    
                                    {% for disagreement_details in names_instance.coder_details_list %}
    
                                        <tr>
                                            <td>{{ disagreement_details.coder_id }}</td>
                                            <td>{{ disagreement_details.coder_detected }}</td>
                                            <td>{{ disagreement_details.coder_person_id }}</td>
                                            <td>{{ disagreement_details.coder_person_type }}</td>
                                            <td>{{ disagreement_details.coder_first_quote_graf }}</td>
                                            <td>{{ disagreement_details.coder_first_quote_index }}</td>
                                        </tr>
    
                                    {% empty %}
    
                                        <tr><td colspan="4">No Details returned...</td></tr>
    
                                    {% endfor %}
    
                                </table>
                                
                            {% else %}
                            
                                <p>No disagreement</p>
                            
                            {% endif %}
                            
                        </td>
                    </tr>

                {% empty %}

                    <tr><td colspan="5">No Reliability_Names found for label {{ reliability_names_label }}.</td></tr>

                {% endfor %}

            </table>

        </div>

    {% endif %}

{% endblock %}